@import "./partials/reset";
@import "./partials/header";
@import "./partials/tipografia";
@import "./partials/footer";


/****** MIXIN ******/
@mixin flex($justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}


/***********************************************/
/******************** INDEX ********************/
.hero{
    background-image: url("../img/aprender-a-meditar_1024.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    @include flex(center, center);
    flex-direction: column;


     .section-main{
        padding: 1rem;
        margin-top: 2rem;
  
            .div-main{ 
                @include flex(center, center);
                flex-direction: column;
                text-align: center;
                padding: 1rem;
                background-color: rgba(255, 255, 255, 0.4);
                border-radius: 10px;
    
                .p-index{
                     font-style: italic;
                     font-size: 1.4rem;
                     padding: 1rem;
                     margin: 0;
                     max-width: 100%;
                 }
    
                 .p-nombre-index{
                    font-size: 1.8rem;
                }
    
                .btn-link {
                    text-decoration: none;
                    color: inherit;
                }
                
                .btn-link:hover {
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
    }

  /***************
      GALERIA
  ****************/
 .gallery {
    max-width: 950px;
    margin: 70px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 250px;
    justify-self: center;
    justify-content: center;
    gap: 1rem;

    .cajas-main{
        background-color: black;
        border-radius: 10px;
    }
  
  
    .gallery__item {
      background-color: rgb(40, 82, 83);
      position: relative;
      overflow: hidden;
      grid-column: span 1; 

      .gallery__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
       }

       .btn-link {
        text-decoration: none;
        color: white;
       }
    }

  
    @media (max-width: 815px) {
        .gallery__item {
            grid-column: span 2;
        }

    }

    @media (max-width: 390px) {
        .gallery__item {
        width: 100%;
        max-width: 200px;
        margin: 0 auto;
        }

    }
 }

/*#######################
         OVERLAY
#######################*/       

.gallery__overlays {
    position: absolute;
    @include flex(center, center);
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    transform: translateY(100%);
    background-color: rgba(0, 0, 0, 0.301);
    transition: transform 0.5s ease;
}

.gallery__text{
    width: 100%;
    color: wheat;
    font-size: 30px;
    text-align: center;
}

.gallery__item:hover .gallery__overlays {
    transform: translateY(0);

}


/************************************************/
/******************* NOSOTROS *******************/
.nosotros-fondo{
    background-image: url("../img/aprender-a-meditar_1024.jpg");
    background-attachment: fixed;
    min-height: 100vh;
    background-size: cover;
    padding: 1rem;
    @include flex(center, center);
    flex-direction: column;
    text-align: center;

    .container-nosotros {
        background-color: rgba(255, 255, 255, 0.4);
        color: black;
        width: 100%;
        max-width: 25rem; 
        padding: 0.8rem; 
        margin-bottom: 2rem;
        border-radius: 10px;
        
        .h2-nosotros {
            padding: 0.3rem;
        }
    }
}


/**********************************************/
/******************* CLASES ********************/
.fondo-main-clases{
    background-image: url("../img/aprender-a-meditar_1024.jpg");
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .h2-clases{
        display: flex;
        padding: 4rem;
        text-align: center;
        justify-content: center;
        color: black;
    }

    .grid-container-clases{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 1rem;
        justify-content: center;
        align-items: start;
        gap: 1rem;

        .div-clases{ 
            @include flex(center, center);
            flex-direction: column;
            text-align: center;
            padding: 0.5rem;
            border: 0.1rem solid black;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.5);
        }

        .p-video-clases{
            font-size: 1.5rem;
        }
    }

    @media (max-width: 1200px) {

        .grid-container-clases{
            grid-template-columns: 1fr;
        }
    
        .div-clases{
            width: 100%;
            border: 0mm;
            border-radius: 2px;
            padding: 0.1rem;
        }

        .videos-clases{
            width: 90%;
            height: 90vh;
        }
    }
}


/************************************************/
/******************* HORARIOS *******************/
.horarios-main{
    background-image: url("../img/aprender-a-meditar_1024.jpg");
    background-attachment: fixed;
    min-height: 100vh;
    background-size: cover;
    padding: 2rem;

    .h2-horarios{
        @include flex(center, center);
        padding: 4rem;
    }

    .horarios-negrita{
        font-weight: bold;
        font-size: 1.2rem;
    }
}


/**********************************************
******************* CONTACTO ******************/
.contacto-main{
    background-image: url("../img/aprender-a-meditar_1024.jpg");
    background-attachment: fixed;
    min-height: 100vh;
    background-size: cover;
    padding: 2rem;
    @include flex(center, center);
    flex-direction: column;

    .section-contacto {
        background-color: rgba(255, 255, 255, 0.4);
        max-width: 25rem; 
        padding: 0.5rem; 
        margin-bottom: 2rem;
        border-radius: 10px;
        

            .h2-contacto{
                text-align: center;
            }
            .contacto-lista {
                list-style-type: none;

                
                    .logos-contacto {
                        width: 1rem;
                    }
            }
    }  
   

    .section-contacto-2 {
        background-color: rgba(255, 255, 255, 0.4);
        max-width: 25rem;
        border-radius: 10px;
        padding: 1rem;

        .h2-contacto{
            text-align: center;
        }
    }
}