
@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Noto+Sans+Elymaic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Noto+Sans+Elymaic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container-center {
    display: flex;
    justify-content: center;
}

/**********TIPOGRAFIA TITULOS**********/
h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}
h2{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
h3{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}



/**********************************************/
/******************* HEADER *******************/
.header{
    background-color: black;
    padding: 1.5rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .logo-inicio{
        width: 8.5rem;
    }
}


/**********************************************/
/******************* FOOTER *******************/
footer{
   /* padding-top: 10px;*/
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
  /*  bottom: 0;*/
    width: 100%;
    
    .texto-footer{
        font-size: 0.6rem;
    }
}

/***********************************************/
/******************** INDEX ********************/

.hero{
    background-image: url("../img/aprender-a-meditar_1024.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


     .section-main{
        padding: 1rem;
        justify-content: center;
        align-items: center;
  
            .div-main{ 
                
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding: 0.5rem;
                background-color: rgba(255, 255, 255, 0.2);
                border-radius: 10px;

                .h1-hero {
                    font-size: 3.2rem;
                }
    
                .p-index{
                    /* width: 50%;*/
                     font-style: italic;
                     font-size: 1.4rem;
                     padding: 1rem;
                     margin: 0;
                     max-width: 100%;
                 }
    
                 .p-nombre-index{
                    font-size: 1.6rem;
                    margin: 0;
                }
    
                .btn-link {
                    text-decoration: none;
                    color: inherit;
                }
                
                .btn-link:hover {
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
    }


/************************************************/
/******************* NOSOTROS *******************/

.nosotros-fondo{
    background-image: url("../img/aprender-a-meditar_1024.jpg");
    background-attachment: fixed;
    min-height: 100vh;
    background-size: cover;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .container-nosotros {
        width: 80%; /* Ancho del contenedor ajustado */
        max-width: 800px; /* Ancho máximo para evitar que se estire demasiado en pantallas grandes */
        margin-bottom: 2rem; /* Espacio inferior entre secciones */
    }
}


/**********************************************/
/******************* CLASES ********************/


.fondo-main-clases{
    background-image: url("../img/aprender-a-meditar_1024.jpg");
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .h2-clases{
        display: flex;
        font-size: 3rem;
        padding: 4rem;
        text-align: center;
        justify-content: center;
        color: black;
    }

    .grid-container-clases{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 1rem;
        justify-content: center;
        align-items: start;
        gap: 1rem;

        .div-clases{ 
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 0.5rem;
            border: 0.1rem solid black;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.5);
        }

        .p-video-clases{
            font-size: 1.5rem;
        }
    }

    @media (max-width: 1200px) {

        .grid-container-clases{
            grid-template-columns: 1fr;
        }
    
        .div-clases{
            width: 100%;
            border: 0mm;
            border-radius: 2px;
            padding: 0.1rem;
        }

        .videos-clases{
            width: 90%;
            height: 90vh;
        }
    }
}


/************************************************/
/******************* HORARIOS *******************/

.horarios-main{
    background-image: url("../img/aprender-a-meditar_1024.jpg");
    background-attachment: fixed;
    min-height: 100vh;
    background-size: cover;
    padding: 2rem;

    .section-horarios{
        padding: 2rem;
        overflow-x: auto;

        .tabla-horarios {
            width: 100%;
            border-collapse: collapse; 
            background-color: rgba(255, 255, 255, 0.7);
            white-space: nowrap;

            
            .horario, .dia {
                background-color: rgba(255, 255, 255, 0.7);;
                border: 1px solid black;
                padding: 8px;
                text-align: center;
                font-weight: bold;
                min-width: 120px; 

            }

            .clases{
                background-color: rgba(255, 255, 255, 0.7);
                border: 1px solid black;
                padding: 8px;
                text-align: center;
            }
        }
        
            /*### RESPONSIVE ###*/
            @media (max-width: 940px) {
                .tabla-horarios {
                    overflow-y: hidden; /* Oculta el scroll vertical en pantallas pequeñas */
                }
                
                .tabla-horarios thead,
                .tabla-horarios tbody,
                .tabla-horarios th,
                .tabla-horarios td,
                .tabla-horarios tr {
                    display: block;
                }
                
                .tabla-horarios tbody tr:nth-child(even) {
                    background-color: rgba(255, 255, 255, 0.5); /* Añade un fondo semitransparente a las filas alternas */
                }
                
                .tabla-horarios thead {
                    position: absolute;
                    top: -9999px;
                    left: -9999px;
                }
                
                .tabla-horarios tr {
                    margin-bottom: 15px;
                }
                
                .tabla-horarios td {
                    border: none;
                    border-bottom: 1px solid #eee;
                    position: relative;
                    padding-left: 50%;
                    text-align: left;
                }
                
                .tabla-horarios td:before {
                    position: absolute;
                    top: 6px;
                    left: 6px;
                    width: 45%;
                    padding-right: 10px;
                    white-space: nowrap;
                    font-weight: bold; 
                }
                
                .tabla-horarios td:nth-of-type(1):before {
                    content: "Horario";
                }
                
                .tabla-horarios td:nth-of-type(2):before {
                    content: "Lunes";
                }
                
                .tabla-horarios td:nth-of-type(3):before {
                    content: "Martes";
                }
                
                .tabla-horarios td:nth-of-type(4):before {
                    content: "Miércoles";
                }
                
                .tabla-horarios td:nth-of-type(5):before {
                    content: "Jueves";
                }
                
                .tabla-horarios td:nth-of-type(6):before {
                    content: "Viernes";
            }
        }
    }
}


/**********************************************
******************* CONTACTO ******************/

.contacto-main{
    background-image: url("../img/aprender-a-meditar_1024.jpg");
    background-attachment: fixed;
    min-height: 100vh;
    background-size: cover;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .section-contacto {
        background-color: rgba(255, 255, 255, 0.4);
        max-width: 25rem; 
        padding: 1rem; 
        margin-bottom: 1rem;
        border: 0.25rem solid black;
        border-radius: 16px;
        

            .h2-contacto{
                text-align: center;
            }
            .contacto-lista {
                list-style-type: none;

                
                    .logos-contacto {
                        width: 1rem;
                    }
            }
    }  
   
    
.section-2-contacto {
    background-color: rgba(255, 255, 255, 0.4);
    max-width: 25rem;
    border: 0.25rem solid black;
    border-radius: 16px;
    padding: 1rem;

    .detalle-de-consulta{
        display: flex;
    }
  }
}